.m-page-toolbar {
    display: flex;
    position: relative;
    width: 100%;
    height: 36px;
    align-items: center;
    /* padding: 10px 0; */
    /* margin-left: 20px ; */

}

.m-page-toolbar .m-toolbar-right {
    display: flex;
    position: absolute;
    right: 0;
    text-align: right;
    align-items: center;
}

.paginate {
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    padding: 1px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.page-item.active {
    font-weight: 700;
    text-align: center;
}